<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Buat Jadwal - Guru | Digyhomeschooling</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.png" />
    <link href="../assets/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/simple-calendar.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
</head>

<body>
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading text-center"><img src="../assets/img/logo.png" width="120" alt=""></div>
            <hr class="hr-side">
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light" href="#!">Pembelajaran</a>
                <a class="list-group-item list-group-item-action bg-light" href="/guru/jadwal"><img
                        src="../assets/img/icon/schedule-ho.png" class="icon-sidebar" alt=""> Jadwal</a>
                <a class="list-group-item list-group-item-action bg-light" href="/guru/buatjadwal"><img
                        src="../assets/img/icon/add-ho.png" class="icon-sidebar" alt=""> Buat Jadwal</a>
                <a class="list-group-item list-group-item-action bg-light" href="/guru/logout">Logout</a>
            </div>
        </div>
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <img src="../assets/img/icon/swap.png" style="cursor: pointer;" width="25" alt="" id="menu-toggle">
                <div class=" navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link mt-2">
                                Selamat Datang <b><%= nama_guru %></b>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <img src="../assets/img/user.jpg" class="rounded-circle" width="40" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container pb-2">
                <div class="judul2">
                    <h3 class="mt-5">Membuat Jadwal Zoom</h3>
                    <p>Pembuatan jadwal Zoom meeting untuk pengajar</p>
                    <% if (messages.error) { %>
                    <div class="alert alert-danger" role="alert">
                        <%- messages.error %>
                    </div>
                    <% } %>

                    <% if (messages.success) { %>
                    <div class="alert alert-success" role="alert">
                        <%- messages.success %>
                    </div>
                    <% } %>
                </div>
                <form action="/guru/addpertemuan" method="POST" enctype="multipart/form-data">
                    <div class="biodata">

                        <div class="card">
                            <div class="card-header">
                                <span>Data Pertemuan</span>
                            </div>
                            <div class="card-body">
                                <input type="hidden" id="ids" name="ids" value="<%= ids %>">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group form-pertemuan">
                                            <label for="">Nama: </label>
                                            <input type="text" name="nama_guru" value="<%= nama_guru %>" readonly
                                                class="form-control input-pertemuan" required>
                                        </div>
                                        <div class="form-group form-pertemuan">
                                            <label for="">Judul Pertemuan: </label>
                                            <input type="text" name="judul_pertemuan"
                                                class="form-control input-pertemuan" required>
                                        </div>
                                    </div>

                                    <div class="col-sm">
                                        <div class="form-group form-pertemuan">
                                            <label for="">Kelas: </label>
                                            <select name="kelas" class="form-control input-pertemuan" id="optionkelas"
                                                required>
                                                <option value="">--- Pilih Kelas ---</option>

                                            </select>
                                        </div>
                                        <div class="form-group form-pertemuan">
                                            <label for="">Tanggal dan Waktu Pertemuan: </label>
                                            <input type="text" class="form-control input-pertemuan" id="datepicker"
                                                name="tanggal_pertemuan" required>
                                        </div>
                                    </div>

                                    <div class="col-sm">
                                        <div class="form-group form-pertemuan">
                                            <label for="">Mata Pelajaran: </label>
                                            <select name="mapel" class="form-control input-pertemuan" id="optionmapel"
                                                required>
                                                <option value="">--- Pilih Mata Pelajaran ---</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-sm">
                            <div class="thumbnail">
                                <div class="card">
                                    <label for="thumbnail_file">
                                        <div class="card-body card-thumb">
                                            <div class="content-thumb text-center">
                                                <img src="../assets/img/icon/add-photo-un.png" alt="">
                                                <h5>Add Thumbnail</h5>
                                                <small class="namefile-thumb"></small>
                                            </div>
                                            <input type="file" name="thumbnail_file" id="thumbnail_file"
                                                class="thumbnail_file" required>
                                        </div>
                                    </label>
                                </div>
                            </div>

                            <div class="card mt-4">
                                <label for="materi_file">
                                    <div class="card-body card-materi">
                                        <div class="content-materi text-center">
                                            <img src="../assets/img/icon/document-un.png" width="50" alt="">
                                            <h4>Materi</h4>
                                            <small class="namefile-materi"></small>
                                        </div>
                                        <input type="file" name="materi_file" id="materi_file" class="materi_file"
                                            required>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card card-diskusi">
                                <div class="card-header card-diskusi-header">
                                    <span>Live Pengambilan Jadwal</span>
                                </div>
                                <div class="card-body card-body-custom">
                                    <div class="body-chat">
                                        <div class="chat-boxs">
                                            <small>Refreshing...</small>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="form-group mt-3">
                        <button class="btn btn-warning btn-block btn-jadwal">Buat Jadwal <img
                                src="../assets/img/icon/next.png" class="float-right mr-4 mt-1" alt=""></button>
                    </div>
                </form>
            </div>

            <!-- <input type="hidden" id="ids" value=""> -->

        </div>
    </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- Core theme JS-->
    <script src="../assets/js/jquery.simple-calendar.min.js"></script>
    <script src="../assets/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js">
    </script>
    <script>

    </script>
    <script src="../assets/js/guruscript.js"></script>
    <script src="../assets/js/updatejadwal.js"></script>
</body>

</html>