<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Guru | Digyhomeschooling</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <a href="/admin/dashboard"><img src="../../assets/img/logo.png" style="cursor: pointer;" width="120" alt=""
                id="menu-toggle"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/dashboard">Lihat Siswa</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/lihatguru">Lihat Guru</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/lihatadmin">Lihat Admin</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="judul-dashboard">
                    <h2>Edit Guru</h2>
                    <hr>
                </div>
            </div>

        </div>

        <div class="container">
            <% if (messages.success) { %>
            <div class="alert alert-success" role="alert">
                <%- messages.success %>
            </div>
            <% } %>
            <div class="form-admin">
                <form action="/admin/editguruprosses" method="POST">
                    <input type="hidden" value="<%= result[0].id_gurus %>" name="id_gurus" class="form-control">
                    <div class="form-group">
                        <label for="">Nama Guru</label>
                        <input type="text" value="<%= result[0].nama_guru %>" name="namaguru" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" value="<%= result[0].email %>" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Nomor HP/WhatsApp</label>
                        <input type="number" value="<%= result[0].no_wa %>" name="no_wa" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="">Kelas</label>
                        <div class="row">
                            <div class="col-sm">
                                <select name="jenjang" class="form-control" id="">
                                    <option value="<%= result[0].jenjang %>"><%= result[0].jenjang %></option>
                                    <option value="">--- Pilih Jenjang ---</option>
                                    <option value="SD">SD</option>
                                    <option value="SMA">SMA (IPA)</option>
                                    <option value="SMA">SMA (IPS)</option>
                                </select>
                            </div>
                            <div class="col-sm">
                                <select name="kelas" class="form-control" id="">
                                    <option value="<%= result[0].kelas %>"><%= result[0].kelas %></option>
                                    <option value="">--- Pilih Kelas ---</option>
                                    <option value="1">1</option>
                                    <option value="1">2</option>
                                    <option value="1">3</option>
                                    <option value="1">4</option>
                                    <option value="1">5</option>
                                    <option value="1">6</option>
                                    <option value="1">7</option>
                                    <option value="1">8</option>
                                    <option value="1">9</option>
                                    <option value="1">10</option>
                                    <option value="1">11</option>
                                    <option value="1">12</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Mata Pelajaran</label>
                        <select name="mapel" class="form-control" id="">
                            <option value="<%= result[0].mapel %>"><%= result[0].mapel %></option>
                            <option value="">--- Pilih Mata Pelajaran ---</option>
                            <option value="Bahasa Indonesia">Bahasa Indonesia</option>
                            <option value="Bahasa Inggris">Bahasa Inggris</option>
                            <option value="Matematika">Matematika</option>
                            <option value="IPA">IPA</option>
                            <option value="IPS">IPS</option>
                            <option value="PKN">PKN</option>
                            <option value="PAI">PAI</option>
                            <option value="Fisika">Fisika</option>
                            <option value="Biologi">Biologi</option>
                            <option value="Kimia">Kimia</option>
                            <option value="Sejarah">Sejarah</option>
                            <option value="Sosiologi">Sosiologi</option>
                            <option value="Geografi">Geografi</option>
                            <option value="Ekonomi">Ekonomi</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Simpan" class="btn btn-warning btn-orange btn-block">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/jquery.simple-calendar.min.js"></script>
    <script src="../../assets/js/scripts.js"></script>
</body>

</html>